<%= link_to "Sort by views", links_path(sort: "popularity") %>
<%= link_to "Sort by created at", links_path(sort: "created_at") %>
<div class="all-links">
	<ul>
		<% @links.each do |link|%>
			<li>
			Given Url: <%= truncate(link.given_url) %>
			<%= link_to  link.display_short_url, link_path(link.id) %>
			Views: <%= link.clicks %>
			Title: <%= link.title %>
		</li>
		<% end %>
	</ul>
</div>

<div class="search">
		<%= text_field_tag :given_url %>
		<%= submit_tag "Filter", id: "filter-urls"%>
</div>
